BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
PackConstructorInitializers: Never
BinPackParameters: OnePerLine
AlignConsecutiveAssignments: true
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
